@media (prefers-color-scheme: dark) {
    :root {
      --button-bg: #141414;
      --button-text: #ffffff;
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      --button-bg: #141414;
      --button-text: #ffffff;
    }
  }

.genreButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg);
    color: var(--button-text);
    width: 140px;
    border-radius: 8px;
    /* border: 1px solid transparent; */
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    /* transition: border-color 0.25s; */
}
